<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6bf5d550-6594-48ad-8c0c-32feb4c7480d/resourceGroups/ReciclaMaisAPIGroup/providers/Microsoft.Web/sites/ReciclaMaisAPI</ResourceId>
    <ResourceGroup>ReciclaMaisAPIGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/6bf5d550-6594-48ad-8c0c-32feb4c7480d/resourceGroups/ReciclaMaisAPIGroup/providers/Microsoft.ApiManagement/service/ReciclaMaisApisrv/apis/ReciclaMaisAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reciclamaisapi-e4hqa2awc5c9a0c2.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c8320485-fb20-4e77-8edf-63f4cd402054</ProjectGuid>
    <MSDeployServiceURL>reciclamaisapi-e4hqa2awc5c9a0c2.scm.brazilsouth-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ReciclaMaisAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>