/* Aplica a mesma fonte e espaçamento para campos e botões */
.form-control,
.form-select,
.btn,
.form-label {
  font-size: 1.6rem !important;
}

/* Pontuação Total */
.pontuacao-total {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1rem;
}

/* Form Labels alinhadas à esquerda */
.form-label {
  text-align: left;
  display: block;
  margin-bottom: 0.25rem;
}

/* Botão verde para adicionar item */
.btn-adicionar-item {
  background-color: #198754; /* Bootstrap 'success' */
  color: #fff;
  border: none;
  font-weight: 500;
}

.btn-adicionar-item:hover {
  background-color: #157347;
}

/* Margem inferior entre blocos de formulário */
.form-section {
  margin-bottom: 2rem;
}

/* Container para centralizar conteúdo */
.agendamento-container {
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
}

.pontuacao-total {
  font-size: 1.6rem;
  font-weight: bold;
}

.agendamento-item {
  min-width: 300px;
  max-width: 300px;
  margin-bottom: 20px;
}

/* Estilo da paginação verde */
.pagination .page-item .page-link {
  color: #157347;
  border-color: #157347;
}

.pagination .page-item.active .page-link {
  background-color: #157347;
  border-color: #157347;
  color: white;
}

.pagination .page-item .page-link:hover {
  background-color: #145939;
  border-color: #145939;
  color: white;
}
